<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration and Login Form</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <div class="wrapper">
    <header>Welcome <%= user %>  </header>
   
   
    <form action="/logout?_method=DELETE" method="post">
        <button class="btn" type="submit">Log Out</button>
    </form>

  <script src="script.js"></script>

</body>
</html>